#warning{
    font-size: 12px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    color: grey;
}

.submitbutton{
    border-radius: 25px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    width: 10em;
    height: 3em;
    background:#f69c55;
    color: #FFF;
    border: none;
    padding: 10px 10px;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    margin-top: 10px;
}

.myfooter p{
    color: rgb(112, 112, 112)
}

.myfooter{
    margin-top: 30px;
    margin-bottom: 20px;
}

#form{
    margin-top: 30px;
}

#list{
  margin-right: 40px;
}
    
#addingTasksFieldWrapper{
  border-radius: 5px;
  padding: 20px 60px;
}

input[type=text], select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid rgb(40, 101, 192);
}

input[type=submit]{
  width: 20em;
  background-color:#444;
  color: #FFF;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color:#f69c55;
}

.bodycontent{
    border: 2px dashed #f69c55;
    border-radius: 25px;
    width: 500px;
    margin: auto;
    /* margin-left: 100px;
    margin-right: 100px; */
}

.bodycontent p {
    color: black;     
    margin: auto;
}
body{
    /* background-color: rgb(228, 19, 19); */
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h1 {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    color: black;
    }

.row-padding {margin-bottom: 12px}

.button{
    border-radius: 25px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    width: 15em;
    height: 4em;
    background: rgb(40, 101, 192);
    color: #FFF;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    margin: auto;
}
.button:hover{
    background: #f69c55;
}

#showingtasks{
  margin-top: 20px;
}
.content{
    margin: auto;
    max-width: 1500px;
}